{%  load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel Tourism Management</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
<a href = "{% url 'register' %}">Sign-Up</a>
<a href="{% url 'login' %}">Login</a>
<a href="{% url '' %}">Home</a>
<a href="{% url 'checkdetails' %}">Insert Details</a>
<a href="{% url '' %}">View Details</a>
<br><br><br><br><br>
{% block 'b1' %}
  <h2 align ="center"><font color = "green">Student's Details</font></h2>
<div>
    {% for i in messages %}
    <h3 align = "center"><font color = red>{{i}}</font></h3>
    {% endfor %}
</div>
{% endblock %}
</body>
</html>